<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1> CHANGE HERE!</h1>
            <form action=""method="post">
                {%csrf_token%}
                {{form.as_p}}

                <input type="submit" value="CHANGE">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>